{% extends '@BB/n2.html.twig' %} }
{% block n3 %}

<div id="single_container">
    <div class="cont_image">
        <img src="" alt="" >
        {#en fancybox#}

    </div>

    {#formulaire de commentaire#}

</div>

    <div>
        {#affichage des derniers commentaires#}
    </div>


    <footer class="footer">
        <div class="container">
            {#<p class="text-muted">Place sticky footer content here.</p>#}
        </div>
    </footer>

{% endblock n3 %}